{% load static %}
<nav>
    <div class="container">
        <a class="nav_a">
            <h2 class="nav_h2">Sson</h2>
        </a>
        <a class="nav_a" href="/">
            <p class="nav_p">Home</p>
        </a>
        <a class="nav_a" href='/categories'>
            <p class="nav_p">Categories</p>
        </a>
        <a class="nav_a" href='/search'>  
            <p class="nav_p">Search</p>
        </a>
        <a class="nav_a">  
            <p class="nav_p">Log in</p>
        </a>
    </div>
</nav>