{% load static %}
<nav>
    <div class="container">
        <a class="nav_a">
            <h2 class="nav_h2">EShop</h2>
        </a>
        <a class="nav_a" href="/">
            <p class="nav_p">Home</p>
        </a>
        <a class="nav_a" href='/categories'>
            <p class="nav_p">Categories</p>
        </a>
        <a class="nav_a" href='/search'>  
            <p class="nav_p">Search</p>
        </a>
        {% if user.is_authenticated %}
            <p class="nav_p">User: {{ user.get_username }}</p>
            <a class="nav_a" href="{% url 'logout' %}?next={{request_path}}">
                <p class="nav_p">Logout</p>
            </a>    
        {% else %}
            <a class="nav_a" href="{% url 'login' %}?next={{request_path}}">
                <p class="nav_p">Login</p>
            </a>    
        {% endif %}
    </div>
</nav>